* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  padding: 5rem 0rem;
}